<div class="spot-events" style="border-bottom: solid 1px rgb(190, 189, 186); padding-bottom: 10px; padding-top: 10px">
  <div class="challenge-title">
    <div class="col-md-7 no-padding">
      <h5><strong>Upcoming Challenges</strong></h5>
    </div>

    <div class="col-md-5 no-padding">
      <!-- Button trigger modal -->
      <button type="button" class="btn-sm btn-custom btn-success small pull-right" data-toggle="modal" data-target="#exampleModal">
        <span class="fas fa-plus-square"></span> <span> Add challenge</span>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-center" role="document">
          <div class="modal-content">

            <div class="modal-header">
              <h2 class="modal-title text-center" id="exampleModalLabel">New Challenge</h2>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <%= simple_form_for @event do |f| %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :description %>
                  <%= f.text_field :description, class: 'form-control' %>
                </div>

                <div class="form-group input-field">
                  <%= f.input :event_date, as: :string, required: false, input_html: {class: "datepicker input-field"} %>
                </div>

                <div class="form-group">
                  <%= f.hidden_field :spot_id, :value => @spot.id %>
                </div><br><br>

                <%= f.submit class: 'btn btn-primary' %><br><br>
              <% end %>
            </div>

          </div>
        </div>
      </div> <!-- end of Modal -->

    </div><br>

  </div>

  <div class="challenge-listing no-padding small">
    <br>
    <ul>
      <% @spot.events&.each do |event| %>
        <% if event.spot = @spot %>
          <li>
            <strong><%= link_to event.name, spot_event_path(@spot, event) %></strong> | Date:<%= event.event_date %>
            <p> <%= event.description %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div> <!-- end of event-body-listing -->

</div>
