<div class="spot-title">

  <div class="row">
    <div class="col-md-9">
      <h4><strong><%= @spot.name %></strong></h4>
    </div>

    <div class="col-md-3">
      <% if user_signed_in? %>

        <!-- <p class="small btn main-card-image-likes-button"><%#= link_to "<i class='fas fa-thumbs-down'></i>".html_safe, downvote_like_path(@like) %></p> -->
      <% end %>
    </div>
  </div>

  <div class="d-flex">
    <p class="small">
    <% if spot.reviews&.blank? %>
      0 <i class="fas fa-star" style="color: #ccc"> </i>
    <% else %>
      <% @spot.average_rating %><i class="fas fa-star" style="color: #ffb400;"></i>
    <% end %>
    | <%= @spot.likes&.length %><%= link_to "<i class='far fa-thumbs-up btn main-card-image-likes-button'></i>".html_safe, upvote_like_path(@like) %></p>
  </div>
  <p class="small"><strong>Address: </strong><%= @spot.address %> <%= @spot.city %></p>
</div>

<div class="spot-details" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px">
  <p class="small"><strong>Description: </strong><%= @spot.description %></p>
</div>
