<!-- Review content -->
<div style="display: flex">
  <!-- SPOT IMAGE card -->
  <div style="flex-basis: 30vw; flex-shrink: 0; position: sticky; top: 90px; height: calc(100vh - 90px)">
    <%= render 'spots/image' %>
  </div>

  <!-- SPOT CARD (likes, faves, etc) + REVIEWS -->
  <div style="flex-grow: 1; padding: 16px">
    <div class="review-box">
      <%= render 'spots/spot-card', spot: @spot %>
      <%= render 'spots/events', spot: @spot %>
      <%= render 'reviews/review_card', spot: @spot, review: @review %>
      <%= render 'reviews/form', spot: @spot, review: @review %>
    </div>
  </div>

  <!--  SPOT MAP -->
  <div style="flex-basis: 30vw; flex-shrink: 0; position: sticky; top: 90px; height: calc(100vh - 90px)">
    <div id="map" data-markers="<%= @markers.to_json %>"></div>
  </div>
</div>
