<!-- Review content -->


<div class="container-main-cards">
  <div class="flexbox">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card"></div>
      </div>

      <!-- SPOT CARD (likes, faves, etc) + REVIEWS -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
        <div class="review-box" style="border-bottom: solid 1px rgb(220, 224, 223)">
          <%= render 'reviews/form', spot: @spot, review: @review %>

          <% if @spot.reviews.present? %>
            <% @spot.reviews.each do |review| %>
              <%#= @user.photo.present? ? photo_url = @user.photo : photo_url   %>
              <%= image_tag(review.user.avatar_url, width: 40, crop: :fill, class: "img-circle") %>

                <% if review.user.first_name.blank?  %>
                  <p><strong>Anonymous</strong></p>
                <% else %>
                  <p><strong><%= review.user.first_name %></strong></p>
                <% end %>

                <p>Comment: <%= review.content %></p>
                <p>Post on: <%= review.created_at.strftime("%Y-%m-%d") %></p>

              <% end %>
          <% end %>
        </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card"></div>
      </div>

    </div>
  </div>
</div>





