<!-- Review content -->
<div class="container-main-cards">
  <div class="spot-flexbox">
    <div class="row">
      <!-- SPOT IMAGE card -->
      <div class="col-xs-12 col-md-4">
        <div class="card bg-skate no-padding">
          <%= render 'spots/image' %>
        </div>
      </div>

      <!-- SPOT CARD (likes, faves, etc) + REVIEWS -->
      <div class="col-xs-12 col-md-4">
        <div class="card scrollable">
          <div class="review-box">
            <%= render 'spots/spot-card', spot: @spot %><br>
            <%= render 'spots/events', spot: @spot %>
            <%= render 'reviews/review_card', spot: @spot, review: @review %>
            <%= render 'reviews/form', spot: @spot, review: @review %>
          </div>
        </div>
      </div>

      <!--  SPOT MAP -->
      <div class="col-xs-12 col-md-4">
        <div class="card bg-map no-padding">
          <div id="map" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>

    </div>
  </div>
</div>
