<!-- Review content -->
<div class="container-main-cards">
  <div class="spot-flexbox">
    <div class="row">

      <!-- SPOT IMAGE card -->
      <div class="col-xs-12 col-md-4">
        <div class="card bg-skate">
          <figure class="Card__img">
            <% if @spot.photos.present? %>
              <% @spot.photos.each do |photo| %>
                <%= cl_image_tag photo.url %>
              <% end %>
            <% end %>
          </figure>
        </div>
      </div>

      <!-- <div class="main-card-image-uploadedby-favorites">
        <div class="main-card-image-uploadedby">
          <h1 class="main-card-image-uploadedby-text">by @shalongjj</h1>
        </div>

        <div class="main-card-image-favorites">
          <%#= link_to "<i class='fas fa-thumbs-up main-card-image-likes-button'></i>".html_safe, upvote_like_path(@like) %>
          <%#= link_to "<i class='fas fa-thumbs-down main-card-image-likes-button'></i>".html_safe, downvote_like_path(@like) %>
          <h1 class="main-card-image-likes-text"><%= pluralize(@no_of_likes, "like")%></h1>
          <h1 class="main-card-image-favorites-text"><%= "\#favs"%></h1>
          <i class="far fa-heart main-card-image-favorites-button"></i>
        </div>
      </div> -->

      <!-- SPOT CARD (likes, faves, etc) + REVIEWS -->
      <div class="col-xs-12 col-md-4">
        <div class="card scrollable">
          <div class="review-box">
            <%= render 'spot-card', spot: @spot %><br>
            <%= render 'reviews/form', spot: @spot, review: @review %>

            <% if @spot.reviews.present? %>
              <% @spot.reviews.each do |review| %>
                <%= image_tag(review.user.avatar_url, width: 40, height: 40, crop: :fill, class: "img-circle") %>
                <% if review.user.first_name.blank?  %>
                  <p><strong>Anonymous</strong></p>
                <% else %>
                  <p><strong><%= review.user.first_name %></strong></p>
                <% end %>

                <p>"<%= review.content %>"</p>
                <p class="small" style="font-style: italic; border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px">Posted on <%= review.created_at.strftime("%Y-%m-%d") %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <!--  SPOT MAP -->
      <div class="col-xs-12 col-md-4">
        <div class="card bg-map no-padding">
          <div id="map" data-markers="<%= @markers.to_json %>"></div>
        </div>
      </div>

    </div>
  </div>
</div>
