<!-- Review content -->
<div class="container-main-cards">
  <div class="flexbox">
    <div class="row">

      <div class="col-xs-12 col-md-4">
        <div class="card bg-skate">
          <div class="main-card-image-uploadedby-favorites">
            <div class="main-card-image-uploadedby">
              <h1 class="main-card-image-uploadedby-text">by @shalongjj</h1>
            </div>
            <div class="main-card-image-favorites">
              <%= link_to "<i class='fas fa-thumbs-up main-card-image-likes-button'></i>".html_safe, upvote_like_path(@like), class: "" %>
              <%= link_to "<i class='fas fa-thumbs-down main-card-image-likes-button'></i>".html_safe, downvote_like_path(@like), class: "" %>
              <h1 class="main-card-image-likes-text"> <%= pluralize(@no_of_likes, "like")%> </h1>
              <h1 class="main-card-image-favorites-text"><%= "\#favs"%></h1>
              <i class="far fa-heart main-card-image-favorites-button"></i>
            </div>
          </div>
          <div class="main-card-image-likes">
            <div class="main-card-image-likes-buttons">


            </div>
            <div>

            </div>
          </div>
          <div class="main-card-image-likes-background"></div>
        </div>
      </div>

      <!-- SPOT CARD (likes, faves, etc) + REVIEWS -->
      <div class="col-xs-12 col-md-4">
        <div class="card">
        <div class="review-box" style="border-bottom: solid 1px rgb(220, 224, 223)">
          <%= render 'reviews/form', spot: @spot, review: @review %>

          <% if @spot.reviews.present? %>
            <% @spot.reviews.each do |review| %>
              <%#= @user.photo.present? ? photo_url = @user.photo : photo_url   %>
              <%= image_tag(review.user.avatar_url, width: 40, crop: :fill, class: "img-circle") %>

                <% if review.user.first_name.blank?  %>
                  <p><strong>Anonymous</strong></p>
                <% else %>
                  <p><strong><%= review.user.first_name %></strong></p>
                <% end %>

                <p>Comment: <%= review.content %></p>
                <p>Post on: <%= review.created_at.strftime("%Y-%m-%d") %></p>

              <% end %>
          <% end %>
        </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div
            class="bg-map"
            id="map"
            style="width: 100%;
            height: 100%;"
            data-markers="<%= @markers.to_json %>"
          ></div>

        </div>
      </div>

    </div>
  </div>
</div>
