<div class="container">
  <div class="col-md-9">
    <div class="profile-body">
      <%# FORM FOR UPDATING PROFILE  %>
      <%= simple_form_for[@user, @city], url: profile_path(@user), html: { method: :patch } do |f| %>
        <%= f.error_notification %>
        <%= f.input :first_name%>
        <%= f.input :last_name %>
        <%= f.input :city, collection: [:Berlin, :Budapest, :Munich, :Hamburg, :Cologne, :Frankfurt, :Sylt, :Dusseldor, :Stuttgart], include_blank: "- Please select one -" %>
        <p class="small">Your public profile only shows your first name.</p>
        <%= f.input :email %>
        <p class="small">We won’t share your private email address with other Skaters.</p>
        <%= f.input :password, placeholder:"********" %>
        <%= f.input :facebook %>
        <%= f.input :twitter %>
        <%= f.input :instagram %>

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <%= f.submit 'Save', class: "btn btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
