<section style="margin-top: 60px;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item">
            <%= link_to 'Edit Profile', dashboard_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Photos', dashboard_path %>
          </li>
          <li class="list-group-item">
            <%= link_to 'Reviews', dashboard_path  %>
          </li>
          <li class="list-group-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              Log out
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-md-9">
        <%# FORM FOR UPDATING PROFILE  %>
        <%= simple_form_for @user, url: profile_path(@user), html: { method: :patch } do |f| %>
          <%= f.error_notification %>
          <%= f.input :first_name  %>
          <%= f.input :last_name %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <%= f.submit 'Save', class: "btn btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</section>
