<div class="favorite-card">
  <% if @user.favorites.present? %>
    <% @user.favorites.each do |favorite| %>
      <div class="favorite-box">

        <div class="favorite-photo">
          <% if favorite.spot.photos&.present? %>
            <%= link_to spot_path(favorite.spot) do %>
              <%= cl_image_tag favorite.spot.photos.last.url, crop: :fill, class: "img-responsive img-circle favorite-image"%>
            <% end %>
          <% else %>
            <i class="fas fa-user-circle Navbar__user-icon"></i>
          <% end %>
        </div>

        <div class="favorite-body" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 10px">
          <p><strong><%= favorite.spot&.name %></strong></p>
          <p><%= favorite.spot&.description %></p>

          <div class="d-flex small">
            <% if favorite.spot.reviews&.blank? %>
              <p> 0 <i class="fas fa-star" style="color: #ccc"> </i></p>
            <% else %>
              <p>
                <% (1..5).to_a.each do |el| %>
                  <% if el <= favorite.spot&.reviews&.average(:rating).round(1) %>
                    <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>
                <% end %>
                (<%= favorite.spot.reviews.count %> reviews)
              </p>
            <% end %>
            <p class="small"> | <%= favorite.spot.number_of_likes %>  <i class='far fa-thumbs-up main-card-image-likes-button'></i></p>
          </div>


        </div>
      </div>
    <% end %>

  <% else %>
    <div class="placeholder-message">
      <h4 class="text-center">Oh, no!!! <%= @user.first_name %> does not have any favorite skatespot yet. Come back later!</h4>
    </div>
  <% end %>

</div>
