<div class="sidenav user-sidebar">
  <a class="sidebar-link" href="<%= @user.facebook %>"><i class="fab fa-facebook"></i></a>
  <a class="sidebar-link" href="<%= @user.twitter %>"><i class="fab fa-twitter"></i></a>
  <a class="sidebar-link" href="<%= @user.instagram %>"><i class="fab fa-instagram"></i></a>
</div>

<div class="user-main">
    <h2>Hi, I'm <%= @user.first_name %></h2>
    <p>Joined in <%= @user.created_at.strftime("%Y") %></p>
    <br />
    <h5><strong>Meet <%= @user.first_name %></strong></h5>
    <p>Lives in <%= @user.city %></p>

    <br />
    <h5><strong><%= @user.first_name %>'s favorite skatespots</strong></h5>

    <%= render 'cards' %>
</div>
