<%= link_to spot_path(spot), class: "Card" do %>
  <div class="Card__inner" style="background-image: linear-gradient(215deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.48) 50%),  url(<%= cl_image_path(spot.photos.first, width: 300, height: 400, crop: :fill) %>);">
  </div>
    <div class="Card__body">
      <h3 class="Card__title"><%= spot.name %></h3>
      <div class="Card__meta">
        <div class="Card__rating">
          <div class="d-flex small">
            <% if spot.reviews&.blank? %>
              <p>0 <i class="fas fa-star" style="color: #ccc"> </i></p>
            <% else %>
              <p>
                <% (1..5).to_a.each do |el| %>
                  <% if el <= spot.reviews&.average(:rating).round(1) %>
                    <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>
                <% end %>
                (<%= spot.reviews.count %> reviews)
              </p>
            <% end %>
            <p class="small"> | <%= spot.number_of_likes %>  <i class='far fa-thumbs-up main-card-image-likes-button'></i></p>
          </div>
        </div>
      </div>
    </div>
<% end %>
