<%= link_to spot_path(spot), class: "Card" do %>
  <div class="Card__inner">
    <figure class="Card__img">
      <% if spot.photos.present? %>
        <% spot.photos.each do |photo| %>
          <%= cl_image_tag photo.url %>
        <% end %>
      <% end %>
    </figure>

    <div class="Card__body">
      <h3 class="Card__title"><%= spot.name %></h3>
      <div class="Card__meta">
        <div class="Card__rating">
          <div class="d-flex small">
            <% if spot.reviews&.blank? %>
              <p> 0 <i class="fas fa-star" style="color: #ccc"> </i> </p>
            <% else %>
              <p>
              <% (1..5).to_a.each do |el| %>
                <% if spot.reviews&.present? %>
                  <% if el <= spot.average_rating %>
                    <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>
                <% end %>
              <% end %>
              (<%= spot.reviews.count %> reviews)
              </p>
            <% end %>
            <p class="small"> | <%= spot.likes&.length %>  <i class='far fa-thumbs-up main-card-image-likes-button'></i></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
