<section class="events event-wrapper-body">
  <div class="row">
    <div class="container-fluid">
      <h2>Skateboard Challenges</h2>

      <% if @events.present? %>
        <div class="Cards">
          <div class="Cards__grid">
            <% @events&.each do |event|  %>
              <div class="col-md-3 grid-item">
                <% if event.present? %>

                  <div class="event-card Card">

                    <div class="event-card__body">
                      <div class="event-name event-card__title"> <h3> <%= event.name %> </h3></div>
                      <div class="event-description"><strong></strong><%= event.description %> </div>
                      <div class="event-time-card"><strong>Date: <%= event.event_date %></strong></div>
                      <div class="event-spot">
                        Location: <%= link_to event.spot.name, spot_path(event.spot) %>
                      </div>
                      <div class="event-organizer">Organizer:
                      <%= link_to profile_path(event.user) do %>
                        <%= cl_image_tag event.user.photo.url, height: 40, width: 40, crop: :fill, class: "img-circle" %>
                      <% end %>
                      </div><br>
                      <%= link_to "Detail", spot_event_path(event.spot, event.id), class: "btn btn-danger btn-position" %>
                      <hr>
                    </div>

                    <div class="event-card__participants"><p><strong>Paticipants:</strong></p>
                      <% event.participants.take(6).each do |participant| %>
                        <%= link_to avatar_path(participant.user) do %>

                          <%= cl_image_tag participant.user.photo.url, height: 40, width: 40, crop: :fill, class: "img-circle" %>
                        <% end %>
                      <% end %>
                    </div>
                  </div>

                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <h4>You can check events here</h4>
      <% end %>
    </div>
  </div>
</section>
