<div class="submit-review">
  <%= simple_form_for([spot, review], remote: true) do |f| %>
    <h3><strong><%=spot.name%></strong></h3>
    <label for="review">How was your experience?</label><br>
    <div id="rater"></div>

    <%# f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %>

    <%= f.input :content, placeholder:"Tell us about this spot . . ." %>
    <%= f.submit "Submit your review", class: "btn btn-default" %> <br><br>
  <% end %>
</div>

<%= javascript_pack_tag 'rater' %>
