<!--<%= #simple_form_for([ spot, review ], remote: true) do |form| %>
  <%= #form.input :content %>
  <%= #form.button :submit %>
<% #end %>-->

<div class="submit-review">
  <%= simple_form_for ([spot, review], remote: true) do |f| %>
    <label for="review">How was your experience?</label><br>
    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([["Please select one", ""], 5, 4, 3, 2, 1]) %>

    <%= f.input :content, placeholder:"How was your experience at #{@spot}" %>
    <%= f.submit "Submit your review", class: "btn btn-default" %> <br><br>
  <% end %>
</div>