<!-- Review header -->
<div id="reviews">
  <% if @spot.reviews&.blank? %>
    Leave a review for <%= @spot.name %>
  <% else %>
    <h5><strong><%= @spot.reviews.count %> Reviews</strong></h5>

    <!-- Review content -->
    <% @spot.reviews.each do |review| %>
      <div class="d-flex" style="border-bottom: solid 1px rgb(190, 189, 186); padding-top: 5px; padding-bottom: 5px">
        <div class="container">
          <div class="row">
            <div class="col-md-3 text-center">
              <%= image_tag(review.user.avatar_url, width: 40, height: 40, crop: :fill, class: "img-circle") %>
              <% if review.user&.first_name&.blank?  %>
                <p class="small"><strong>Anonymous</strong></p>
              <% else %>
                <p class="small"><strong><%= review.user.first_name %></strong></p>
              <% end %>
            </div>

            <div class="col-md-9" id="reviews-skatespots">
              <% if review.rating.blank? || review.content.blank? %>
                0 <i class="fas fa-star" style="color: #ccc"> </i>
              <% else %>
                <% (1..5).to_a.each do |el| %>
                  <% if el <= review.rating %>
                    <i class="fas fa-star" style="color: #ffb400;"></i>
                  <% else %>
                    <i class="fas fa-star" style="color: #ccc"></i>
                  <% end %>
                <% end %>
              <% end %>

              <p class="small"><%= review.content %></p>
              <p class="small" style="font-style: italic;">Posted on: <%= review.created_at.strftime("%Y-%m-%d") %>
                (<%= link_to "Delete", spot_path(@spot), method: "delete", data: { confirm: 'Are you sure?' } %>) </p>
            </div>

          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
