<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skatespots: Find Skateboard Challenges Around You  </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application' %> <!-- NEW! -->
    <%= favicon_link_tag %>

    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>

  <body class="Site">
    <% if params[:action] == 'home' %>
      <%= render 'shared/navbar_home' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <main class="Site__content">
      <%= yield %>
    </main>

    <%# if params[:action]!= 'home' %>
      <%#= render 'shared/footer' %>
    <%# end %>


    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

    <%= yield(:after_js) %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_pack_tag 'application' %>

  </body>
</html>
